@import "../vars.css";

.FooterContainer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.FooterWrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding: 1rem;
}
.Logo {
  font-weight: 600;
  font-size: 20px;
}
.Nav {
  width: 100%;
  max-width: 800px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.NavLink {
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.SocialMediaIcons {
  display: flex;
  margin-top: 1rem;
}
.SocialMediaIcon {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
}
.Copyright {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
}
@media (max-width: 400px) {
  .Nav {
    gap: 0.5rem;
  }
}
